body {background-color:black;background-image:url();font-size:12px;font-family:'Arial', 'sans-serif', 'Courier New';margin:0;word-wrap:break-word!important}
div.main {background:#222;color:white;border:1px black solid;border-radius:8px 8px 0px 0px;max-width:1000px;margin:0 auto;padding:4px;position:relative;}
div.extra {background:#111;color:white;border-radius:1px;max-width:1000px;margin:0 auto;padding:4px;position:relative}
div.footer {background:black;color:white;max-width:1000px;font-size:11px;padding:2px;text-align:center;margin:0 auto}

h1 {background:#444;color:white;border:1px #888 outset;border-radius:16px;max-width:1000px;text-align:center;margin:0 auto;}
h2 {color:white;}

a {color:#88f}
a:hover {color:rgb(255, 99, 99)}